/* Font import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


nav.nav-extended .nav-wrapper {
    font-family: 'Playfair Display', serif;
    min-height: 56px;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Playfair Display', serif;
}

.btn {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

.btn-small {
    margin: 5px;
    font-family: 'Playfair Display', serif;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

