/* Font import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


.brand-logo {
    font-family: 'Dancing Script', cursive;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    padding-left: 10px;
}

.carousel carousel-slider, h2 {
    width: 100%;
}

.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

.btn-small {
    margin: 5px;
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 36px;
    margin-right: 1em;
}

button {
    border-style: none;
}
h1,
h4,
h5,
h6 {
    font-family: 'Baloo Tammudu 2', cursive;
}

h2, h3 {
    font-family: 'Dancing Script', cursive; 
  text-align: center;
}

p {
    font-family: 'Baloo Tammudu 2', cursive;
}

.carousel .carousel-item>img {
    width: 112%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }   

  col s12 {
      font-family: 'Baloo Tammudu 2', cursive;
      padding-left:5px;
  }

  .col .row {
    margin-left: 2.25rem;
    margin-right: 1.25rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
}

img {
    border-style: none;
    padding-top: 15px;
}

.card {
    padding-bottom: 1em;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
     font-family: 'Baloo Tammudu 2', cursive;
}

.footer-copyright {
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 5em;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {  
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
    padding-left: 10px;
}
}


          