/* Font import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

.btn-small {
    margin: 5px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

