
{% extends "base.html" %}
{% block content %}

<h3 class= "text-darken-4 center-align">Add Recipe</h3>


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">

    <!-- Recipe category selection -->
    <div class="row">
    <div class="input-field col s12">
     <i class="fas fa-folder-open prefix text-darken-4"></i>
    <select id="category_name" name="category_name" class="validate" required>
      <option value="" disabled selected>Choose Category</option>
      {% for category in categories %}
      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
    {% endfor %}
    </select>
    <label for="category_name">Recipe Category</label>
  </div>
    </div>

    <!-- Recipe name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-utensils prefix text-darken-4"></i>
          <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
          type="text" class="validate">
          <label for="recipe_name">Recipe name</label>
        </div>

    <!-- Recipe description-->
        <div class="input-field col s12">
         <i class="fas fa-clipboard prefix text-darken-4"></i>
          <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="100" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
        </div>

    <!-- Family story-->
        <div class="input-field col s12">
         <i class="fas fa-smile-beam prefix text-darken-4"></i>
          <textarea id="family_story" name="family_story" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="family_story">Family Story</label>
        </div>

    <!-- Recipe Ingredients-->
        <div class="input-field col s12">
         <i class="fas fa-clipboard-list prefix text-darken-4"></i>
          <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="150" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Recipe Ingredients</label>
        </div>

    <!-- Cooking Instructions-->
        <div class="input-field col s12">
         <i class="fas fa-temperature-high prefix text-darken-4"></i>
          <textarea id="cooking_instructions" name="cooking_instructions" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="cooking_instructions">Cooking Instructions</label>
        </div>

<div>

<!-- submit button -->
<div class="row">
<div class="col s12 center-align">
<button class="btn waves-effect waves-light" type="submit"> Add Recipe
    <i class="fas fa-plus-square left"></i>
  </button>
        </div>

      </div>
      </div>
      </div>
    </form>
  </div>
        

{% endblock %}