{% extends "base.html" %}
{% block content %}

  <header>

 <div class="header-text">
<div class="col-lg-12">       
<h2>Share your Family's Food Story</h2>
</div>

        <!--Materialize carousel of images-->

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="static/images/filipinocuisine.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="static/images/FilipinoFoodPopUp.jpeg"></a>
    <a class="carousel-item" href="#two!"><img src="static/images/filipino-christmas.jpg"></a>
  </div>
    </header>

    <section>
        <div class="container text-container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h5> About Lola's Cookbook</h5>
                    <h6>Good food has a way of bringing families together, and anytime families gather to eat, family history is made. </h6>
                    <h6>My lola and mother made the most delicious filipino food. I am inspired by her to create this online cookbook and named it after her. The idea of lola's cookbook is to create a database of family recipes.</h6>
                    <h6>To get started, click on 'Add Recipe' in the top-menu to add your Family recipe or click on 'Browse Recipes' to browse through all the recipes in the database. With the mealplanner you can add your own family recipes with a datepicker to your mealagenda. </h6>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}