{% extends "base.html" %}
{% block content %}

  <header>
       

        <!--Materialize carousel of images-->

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="images/chicken%20adobo.jpg" alt="Chicken Adobo"></a>
    <a class="carousel-item" href="#two!"><img src="images/filipino%20food.jpg" alt="Filipino Food"></a>
    <a class="carousel-item" href="#three!"><img src="images/Filipino-Pancit.jpg" alt="Pancit"></a>
    <a class="carousel-item" href="#four!"><img src="images/Majablanca.jpg" alt="Majablanca"></a>
  </div>
    </header>

    <section>
        <div class="container text-container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>About Lola's Cookbook</h3>
                    <h5>Share Your Family’s Food Story</h5>
                    <p>Good food has a way of bringing families together, and anytime families gather to eat, family history is made. </p>
                    <p>My lola (filipino grandmother) made the most delicious filipino food. I am inspired by her to create this online cookbook and named it after her. The idea of lola's cookbook is to create a database of family recipes.</p>
                    <p>To get started, click on 'Browse Recipes' in the top-menu to browse through the categories or click on 'Add Recipe' to add your own recipe to the database.</p>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}