
{% extends "base.html" %}
{% block content %}

<h2 class= "text-darken-4 center-align">Mealplanner</h2>


<ul class="collapsible">
  {% for recipes in mealplanner %}
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
    <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.recipe_day }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
    </li>
  
      {% endfor %}
  </ul>
        


{% endblock %}
