
{% extends "base.html" %}
{% block content %}

<h2 class= "text-darken-4 center-align">Mealplanner</h2>


<ul class="collapsible">
  {% for recipes in mealplanner %}
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Monday }}</strong> : {{ recipes.recipe_name }}
      </div>
    <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Tuesday }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Wednesday }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Thursday }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Friday }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Saturday }}</strong> : {{ recipes.recipe_name }}
      </div>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ mealplanner.Sunday }}</strong> : {{ recipes.recipe_name }}
      </div>
    </li>
  
      {% endfor %}
  </ul>
        


{% endblock %}
