{% extends "base.html" %}
{% block content %}

    {% for recipes in recipes %}
        {{ recipes.recipe_name }}<br>
        {{ recipes.recipe_description }}<br>
        {{ recipes.recipe_ingredients }}<br>
        {{ recipes.cooking_instruction }}<br>
    {% endfor %}

<ul class="collapsible">
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
        


{% endblock %}
