{% extends "base.html" %}
{% block content %}


<ul class="collapsible">
  {% for recipes in recipes %}
    <li>
      <div class="collapsible-header #ffb300 amber darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ recipes.recipe_name }}</strong> : {{ recipes.recipe_description }}
      </div>
      <div class="collapsible-body">
      <strong>{{ recipes.recipe_ingredients }}</strong>
      <p>{{ recipes.cooking_instruction }}</p>
     </div>
    </li>
  
      {% endfor %}
  </ul>
        


{% endblock %}
