{% extends "base.html" %}
{% block content %}
    
    <!-- Creates a recipe card for the recipe chosen in the recipes page or mealagenda to view -->


<div class="col s12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 recipe-image">
                        <img class="img-fluid rounded" width="250" src="{{recipe.image_link}}" alt="">
                    </div>
                    <div class="col-md-9 recipe-description">
                        <h1 class="card-title">{{recipe.recipe_name}}</h1>
                        <strong>Recipe description</strong><p>{{recipe.recipe_description}}</p>
                        <strong>Family Story</strong><p>{{recipe.family_story}}</p>
                        <strong>Recipe Ingredients</strong><p>{{recipe.recipe_ingredients}}</p>
                        <strong>Cooking Instruction</strong><p>{{recipe.cooking_instruction}}</p>
  
                         <div class="home-button">
                        <a href="{{url_for('lolas_cookbook')}}" class="btn btn-success #ffa000 amber darken-2">Home</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

                   
{% endblock %}